<footer>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="center">

  <ul class="inline nav">
    <li class="social">
      <a href="https://twitter.com/robincillis" class="" target="_blank">
        <div class="social-inner twitter"></div>
      </a>
    </li>
    <li class="social">
      <a href="https://facebook.com/robincillis" class="" target="_blank">
        <div class="social-inner facebook"></div>
      </a>
    </li>
    <li class="social">
      <a href="https://linkedin.com/in/robincwillis" class="" target="_blank">
        <div class="social-inner linkedin"></div>
      </a>
    </li>
    <li class="social">
      <a href="https://github.com/robincwillis" class="" target="_blank">
        <div class="social-inner github"></div>
      </a>
    </li>
    <li class="social">
      <a href="http://instagram.com/robincwillis" class="" target="_blank">
        <div class="social-inner instagram"></div>
      </a>
    </li>
  </ul>

    </div>
  </div>
</div>
</footer>