<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title>Meteor Edit In Place</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
</head>
<body>
	<div class="header">
    {% include header.html %}
	</div>
	<div class="content">
		<div class="container">
		{{content}}
		</div>
	</div>
	<div class="footer">
    {% include footer.html %}
	</div>

	<script type="text/javascript">


// TODO Google Analyetics
	</script>

</body>
</html>